/*
@tailwind base; adds base styles to all elements:
https://tailwindcss.com/docs/preflight
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-highlight: #ff80ff;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Consolas", "Andale Mono", monospace;
  font-size: 1rem;
  background-color: white;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.75);
    opacity: 0;
  }
}

.ripple-effect {
  position: relative;
  overflow: visible;
}

.ripple-effect::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #3660F90d;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: ripple 2.5s infinite;
  pointer-events: none;
}
