{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSpacing": true
}
